<html>
	<body>
		<div id="map" style="width:100%;height:400px;">
	        <script>
				function initMap() {
	                var centre = {lat: 0, lng: 0};
	                var map = new google.maps.Map(
	                document.getElementById('map'), {zoom: 2, center: centre});
	            }
			</script>
			
			<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW9FAJC34z2wKmGJJvW-QxF_ObdLfuzH4&callback=initMap">
            </script>
		</div>
	</body>
</html>