
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.card{
  font-family: 'Times New Roman', Times, serif;
 
  font-weight: bold;
border: none;
  /* box-shadow: 0px 17px 20px 0px #131414; */
}
.card a{

  color : rgb(255, 104, 192);

}

.mr-1 { margin-right: 1em; }
 [v-cloak] { display: none; }

span.commit{
  background-image: "/resources/img/commit.svg";
}


.level{
  display: flex;
  align-items: center;
}
.flex{
  flex: 1;
}

.navbar-laravel {
  
  box-shadow: 0  2px 4px rgba(0, 0, 0, 0.04);
  font-family: 'Times New Roman', Times, serif;
  a{
    color: black;
  }
  a:hover{
    
    color: blue;
  }
}



html, body {
  background-color: #fff;
 
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}


.content {
  text-align: center;
}

.title {
  
  font-size: 84px;
}

.links > a {
  color:lightgreen;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover{
  color: rgb(241, 228, 42);
}

.m-b-md {
  margin-bottom: 30px;
}
body{
  padding-bottom: 100px;
}
.atwho-view {
  position:absolute;
  top: 0;
  left: 0;
  display: none;
  margin-top: 18px;
  background: white;
  color: black;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  min-width: 120px;
  z-index: 11110 !important;
}
.atwho-view .atwho-header {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border-bottom: solid 1px #eaeff1;
  color: #6f8092;
  font-size: 11px;
  font-weight: bold;
}
.atwho-view .atwho-header .small {
  color: #6f8092;
  float: right;
  padding-top: 2px;
  margin-right: -5px;
  font-size: 12px;
  font-weight: normal;
}
.atwho-view .atwho-header:hover {
  cursor: default;
}
.atwho-view .cur {
  background: #3366FF;
  color: white;
}
.atwho-view .cur small {
  color: white;
}
.atwho-view strong {
  color: #3366FF;
}
.atwho-view .cur strong {
  color: white;
  font:bold;
}
.atwho-view ul {
  /* width: 100px; */
  list-style:none;
  padding:0;
  margin:auto;
  max-height: 200px;
  overflow-y: auto;
}
.atwho-view ul li {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
  /* border-top: 1px solid #C8C8C8; */
}
.atwho-view small {
  font-size: smaller;
  color: #777;
  font-weight: normal;
}
